---
import MainHead from "../components/MainHead.astro";
import CTABar from "../components/CTABar.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { name, phoneNumber, tagLinePrefix } from "../data/company";
import { services } from "../data/services";
import Icon from "astro-icon";
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <CTABar phone={phoneNumber} />
    <div class="grid-bg">
      <Nav />
      <section class="hero is-dark is-halfheight">
        <div class="hero-body">
          <div class="container is-max-widescreen">
            <div class="columns is-desktop">
              <div class="column is-9-desktop">
                <h1 class="title is-size-2 mb-1 hidden-lg is-hidden-tablet">
                  {name}
                </h1>
                <h1 class="title is-size-1 mb-1 is-hidden-mobile">{name}</h1>
                <h2 class="is-size-5 mb-5">
                  {tagLinePrefix}
                  <strong id="location"></strong>
                </h2>
                <div class="buttons">
                  <a class="button is-info" href="/contact">Get Started</a>
                  <a class="button is-light" href="/services">Learn More</a>
                </div>
              </div>
              <div class="column">
                <img
                  src="/assets/outline-ny.svg"
                  class="image ny"
                  alt="New York state"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="section has-background-light" id="who">
      <div class="container is-max-widescreen">
        <h1 class="title has-text-centered my-5">Who We Are</h1>

        <div class="content">
          <blockquote class="mb-0">
            <p>
              Matranga Development is a <em>mission-driven</em>, software
              development agency you can depend on to serve your organization's
              technology needs. Owned by a RPI graduate working in the financial
              technology industry, we seek to give back to the upstate
              communities that we've benefitted from. We work with you to
              determine how we can provide the <strong>maximum value</strong>
              to you at the <strong>minimum cost</strong>. Whether your needs
              range from a basic informational website to more complex systems,
              we will happily serve you.
            </p>
          </blockquote>
          <div class="has-text-centered">
            <a href="/about" class="">Learn More</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section has-background-danger" id="services">
      <div class="container has-bg-danger is-max-widescreen">
        <h1 class="title has-text-centered has-text-white mt-5 mb-6">
          What We Can Do For You
        </h1>

        <div class="columns is-multiline services">
          {
            services.map((service) => (
              <div class="column is-full is-half-tablet">
                <div class="box">
                  <div class="columns is-vcentered">
                    <div class="column">
                      <h2 class="subtitle is-size-5 has-text-weight-bold">
                        {service.name}
                      </h2>
                    </div>
                    <div class="column p-0 is-narrow has-text-centered has-text-grey">
                      <span class="image is-64x64 mx-auto">
                        <Icon name={service.iconName} />
                      </span>
                    </div>
                  </div>

                  <p class="pb-5">{service.description}</p>

                  <button class="button is-small is-danger is-outlined is-fullwidth">
                    Explore
                  </button>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <Footer />

    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script>
      import TypeIt from "typeit";

      document.addEventListener("DOMContentLoaded", function () {
        new TypeIt("#location", {
          loop: true,
          speed: 40,
        })
          .type("the NY Capital Region")
          .pause(2000)
          .delete()
          .type("Albany")
          .pause(2000)
          .delete()
          .type("Troy")
          .pause(2000)
          .delete()
          .pause(2000)
          .type("Schenectady")
          .pause(2000)
          .delete()
          .type("Saratoga")
          .pause(2000)
          .go();
      });
    </script>
    <style>
      @media screen and (min-width: 1024px) {
        img.ny {
          scale: 1.5;
        }
      }
    </style>

    <style is:global>
      .grid-bg {
        background-image: url("/assets/low-poly-grid-haikei.svg");
      }
      .grid-bg .navbar,
      .grid-bg .hero {
        background-color: transparent;
      }
    </style>
  </body>
</html>
