---
import { name, legalName, phoneNumber, email, mission } from "../data/company";

const currentYear = new Date().getFullYear();
---

<footer class="bg-amber-50 text-gray-700">
  <div class="container mx-auto w-4/5 max-w-7xl space-y-11 py-24">
    <div class="flex flex-col space-y-11 lg:flex-row lg:space-y-0">
      <div class="flex-1 lg:px-11">
        <h4 class="mb-2 font-title font-semibold">Contact Us</h4>
        <p class="company-name">{name}</p>

        <p class="company-phoneNumber">
          <a href={`tel:${phoneNumber}`}>{phoneNumber}</a>
        </p>
        <p class="company-email">
          <a href={`mailto:${email}`}>{email}</a>
        </p>
      </div>
      <div class="flex-1 lg:px-11">
        <h4 class="mb-2 font-title font-semibold">Navigation</h4>
        <nav>
          <ul>
            <li>
              <a href="/" rel="prefetch">Home</a>
            </li>
            <li>
              <a href="/about" rel="prefetch">About Us</a>
            </li>
            <li>
              <a href="/contact" rel="prefetch">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex-1 lg:px-11">
        <h4 class="mb-2 font-title font-semibold">Mission Statement</h4>
        <p>{mission}</p>
      </div>
    </div>
    <p class="text-center text-gray-400">
      &copy; {currentYear}
      {legalName}
    </p>
  </div>
</footer>
