---
import { name, legalName, phoneNumber, email, mission } from "../data/company";

const currentYear = new Date().getFullYear();
---

<footer class="z-10 bg-amber-50 text-gray-700">
  <div class="container mx-auto w-4/5 max-w-7xl space-y-11 py-24">
    <div class="flex flex-col space-y-11 lg:flex-row lg:space-y-0">
      <div class="flex-1 lg:px-11">
        <h4 class="mb-2 font-title font-semibold">Contact Us</h4>
        <p class="company-name">{name}</p>

        <p class="company-phoneNumber">
          <a
            class="transition-colors hover:text-amber-500"
            href={`tel:${phoneNumber}`}>{phoneNumber}</a
          >
        </p>
        <p class="company-email">
          <a
            class="transition-colors hover:text-amber-500"
            href={`mailto:${email}`}>{email}</a
          >
        </p>
      </div>
      <div class="flex-1 lg:px-11">
        <h4 class="mb-2 font-title font-semibold">Navigation</h4>
        <nav>
          <ul>
            <li>
              <a
                href="/"
                rel="prefetch"
                class="transition-colors hover:text-amber-500">Home</a
              >
            </li>
            <li>
              <a
                href="/about"
                rel="prefetch"
                class="transition-colors hover:text-amber-500">About Me</a
              >
            </li>
            <li>
              <a
                href="/contact"
                rel="prefetch"
                class="transition-colors hover:text-amber-500">Contact Us</a
              >
            </li>
            <li>
              <a
                href="/#services"
                rel="prefetch"
                class="transition-colors hover:text-amber-500">Services</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex-1 lg:px-11">
        <h4 class="mb-2 font-title font-semibold">Mission Statement</h4>
        <p>{mission}</p>
      </div>
    </div>
    <p class="text-center">
      &copy; {currentYear}
      {legalName}
    </p>
  </div>
</footer>
